:root {
  --completion: 50%;
  /*The top offset for the wave*/
  --offset: 2vh;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #151515;
}
